<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradugation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.gradugation.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gradugation.NewGameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_new_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.ChooseCharacterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_choose_character"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.HowToPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_how_to_play"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.MinigamesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_minigames"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.WiresMiniGame"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_wires_mini_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.ContinueActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_continue"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.BenchPressMinigame"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bench_press_minigame"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name=".WaitInLineMinigame"
            android:label="@string/title_activity_waitinline_minigame"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name="com.gradugation.BackgroundMusicService" >
        </service>

        <activity
            android:name="com.gradugation.MainGameScreen"
            android:label="@string/title_activity_main_game_screen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.gradugation.WhackAFlyerMiniGame"
            android:label="@string/title_activity_whack_aflyer" 
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.ColorMiniGame"
            android:label="@string/title_activity_color_mini_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gradugation.FoodMiniGame"
            android:label="@string/title_activity_food_mini_game"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
    </application>

</manifest>
